{% load static %}


{% include 'base/navbar.html' %}


<!-- strat wrapper -->
<div class="h-screen flex flex-row flex-wrap">

 {% include 'base/sidebar.html' %}

  <!-- strat content -->
  <div class="bg-gray-100 flex-1 p-6 md:mt-16">


    <!--
    &lt;!&ndash; strat Analytics &ndash;&gt;å

    &lt;!&ndash; end Analytics &ndash;&gt;

    &lt;!&ndash; Sales Overview &ndash;&gt;

    &lt;!&ndash; end Sales Overview &ndash;&gt;

    &lt;!&ndash; start numbers &ndash;&gt;

    &lt;!&ndash; end nmbers &ndash;&gt;

    &lt;!&ndash; start quick Info &ndash;&gt;-->
    <!-- end quick Info -->


  </div>
  <!-- end content -->

</div>
<!-- end wrapper -->

{% include 'base/end.html' %}

{% django_browser_reload_script %}

